body {
  display: flex;
  background-image: url("../image/fundo-inicio.svg" );
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 950vh;
  margin: 0;
  padding-bottom: 30px;
}
.body-tela-principal {
  width: 100%;
  padding-bottom: 50px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 68, 68);
  height: 150px;
}
.avatar {
  height: 80px;
  cursor: pointer;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.title h1 {
  display: flex;
  justify-content: center;
  background-color: rgb(3, 68, 68);
  color: white;
  padding: 25px;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 30%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.title button:hover {
  background-color: rgb(4, 38, 38);
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
.lista-1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 68, 68);
  color: white;
  border-radius: 15px;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 10%;
  margin-left: 10%;
}
.lista-1 input {
  width: 50%;
  height: 5px;
  padding: 10px;
  border-radius: 10px;
}
.lista-2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 68, 68);
  color: white;
  border-radius: 15px;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 10%;
  margin-left: 10%;
}
.lista-2 input {
  width: 50%;
  height: 5px;
  padding: 10px;
  border-radius: 10px;
}
.lista-3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 68, 68);
  color: white;
  border-radius: 15px;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 10%;
  margin-left: 10%;
}
.lista-3 input {
  width: 50%;
  height: 5px;
  padding: 10px;
  border-radius: 10px;
}
.botoes {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.botoes button {
  background-color: rgb(3, 68, 68);
  color: white;
  padding: 25px;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 30%;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.botoes button:hover {
  background-color: rgb(4, 38, 38);
  color: rgb(255, 255, 255);
  transition: 0.4s;
}